.search-input {
  max-width: 500px;
  text-align: center;
}
.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
  padding-bottom: 50px;
}
.btn-city {
  width: -webkit-fill-available;
}
.card-container {
  padding: 20px;
}
.pageNumbers {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pageNumbers li {
  padding: 10px;
  border: 1px solid white;
  cursor: pointer;
}

.pageNumbers li.active {
  background-color: black;
  color: white;
}

.pageNumbers li button {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}
.pageNumbers li button:hover {
  background-color: white;
  color: black;
}
.pageNumbers li button:focus {
  outline: none;
}

.heart {
  width: 10px;
}

.loading {
  width: 100px;
  height: 100px;
  text-align: center;
  border: 8px solid #d3d3d3;
  border-top-color: #778899;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.spin-container {
  text-align: -webkit-center;
}
